<form id="pagerForm" method="post" action="{:U('Jiankang/lists')}">
	<input type="hidden" name="status" value="${param.status}">
	<input type="hidden" name="keywords" value="${param.keywords}" />
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" />
	<input type="hidden" name="username" value="{$username}" />
	<input type="hidden" name="orderField" value="${param.orderField}" />

</form>


<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="{:U('Jiankang/lists')}" method="post">
	<div class="searchBar">
		<!--<ul class="searchContent">
			<li>
				<label>我的客户：</label>
				<input type="text"/>
			</li>
			<li>
			<select class="combox" name="province">
				<option value="">所有省市</option>
				<option value="北京">北京</option>
				<option value="上海">上海</option>
				<option value="天津">天津</option>
				<option value="重庆">重庆</option>
				<option value="广东">广东</option>
			</select>
			</li>
		</ul>
		-->
		<!-- <table class="searchContent">
			<tr>
				<td>
					搜索客户：<input type="text" name="username" value="{$username}"/>
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				
			</ul>
		</div> -->
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{:U('Jiankang/add')}" target="dialog" mask="true" width="300" height="450"><span>添加</span></a></li>
			<li><a class="edit" href="{:U('Jiankang/edit')}?uid={sid_user}" target="dialog" width="300" height="450"><span>修改</span></a></li>
			<li><a class="delete" href="{:U('Jiankang/del')}?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li class="line">line</li>
			
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138" >
		<thead>
			<tr>
				<th width="80"></th>
				<th width="150">项目名称：</th>
				<th width="150">价格:</th>
				<th width="150">服务内容：</th>
				<th width="150">创建时间：</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="listsa" item="vo" >
				<tr target="sid_user" rel="{$vo.id}">
					
					<td></td>
					<td>{$vo.name}</td>
					<td>{$vo.price}</td>
					<td>{$vo.content}</td>
					<td>{$vo.create_time}</td>
				</tr>
			</foreach>
			
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="">{$numPerPage}</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<span>条，共{$totalCount}条</span>
		</div>

		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="{$pageNumShown}" currentPage="{$currentPage}"></div>
	</div>
</div>
