/*全局外内边距0*/
*{  
    margin:0px;
	padding:0px;
}




/*有序列表去圆点*/
ul li{
	list-style-type:none;

}

/*链接去下划线字体颜色*/
a{
	text-decoration:none;
	color:#000000;

}


/*a虚线狂去除*/
a{outline:none;blr:expression(this.onFocus=this.blur());}

/*IEa虚线狂去除*/
a{blr:expression(this.onFocus=this.blur());}


/*图片去边框*/
img{
	border:none;

}


/*头部*/
.header{
    
	width:100%;
	height:219px;

}



/*紫色头部*/
.Zheader{
    
	width:100%;
	height:38px;
	background-color:#43093b;

}


/* 紫色头部居中*/
.zcenter{
    
	width:1200px;
	height:38px;
	margin:0px auto;
	background:url(../images/zcenter3.jpg);

}


/*收藏*/

.HSC{
	
	width:80px;
	height:38px;
	float:left;
	margin-left:6px;
	line-height:38px;
	
}




.HSC img{
	
	width:21px;
	height:30px;
	float:left;
	margin-top:4px;
	
}
.HSC a{
	
	color:#ffffff;
	font-size:12px;
	font-family:'宋体';
	float:left;
	margin-left:3px;
	
}


/*头部导航*/
.head-nav{
	
	width:726px;
	height:38px;
	float:right;
	
}


.head-nav  ul  li{
	
	float:left;
	color:#ffffff;
	font-size:12px;
	font-family:'宋体';
	line-height:38px;
	
}


.head-nav  ul  li a{
	
	color:#ffffff;
}



.Sign-in a:hover{
	
	color:#da1d67;

}


.My-order{
	
	margin-left:18px;
	
}


.estilos-user{
	
	margin-left:50px;
	
}


.phoneESTTILOS{
	
	width:106px;
	height:16px;
	background:url(../images/phoneESTTILOSbj2.jpg);
	margin-left:23px;
	margin-top:10px;
	
}


.phoneESTTILOS a p{
	
	margin-left:20px;
	position:relative;
	top:-10px;
	
}


.Customer-service{
	
	margin-left:20px;
	
}

.Website-navigation{
	
	margin-left:22px;
	
}

.Website-navigation img{
	
	margin-left:5px;
	margin-top:2px;
	
}

/*白色头部*/
.Bheader{
	
	width:100%;
	height:141px;
	background-color:#ffffff;
	
}


.Bheader-center{
	
	width:1200px;
	height:141px;
	margin:0px auto;
	overflow:hidden;
	
}



.logo{
	
	
	width:300px;
	height:92px;
	float:left;
	margin-top:25px;
	
}


/*搜索大盒子*/
.SSH{

    width:508px;
	height:55px;
	float:left;
	margin-top:47px;
	margin-left:80px;

}


/*搜索框盒子*/
.SSKH{

    width:502px;
	height:30px;
	background-color:black;
	float:left;

}


/*搜索框*/
.sousuoK{

    width:380px; 
    height:28px;
	float:left;
	font-size:12px;
	background-color:#ffffff;
	border:1px solid #da1d67;/*边框颜色大小设置*/
	

}


/*搜索按钮*/
.anniu{

    width:60px; 
    height:30px;
	float:left;
	background-color:#da1d67;
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	border:none;
	cursor:pointer;

}


/*搜索2按钮*/
.annius{

    width:60px; 
    height:30px;
	float:left;
	background-color:#757575;
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	border:none;
	cursor:pointer;

}


/*热门搜索盒子*/
.hotSSH{

    width:487px;
	height:25px;
	float:left;

}


/*字体的盒子*/
.hotH{
	
	width:370px;
	height:25px;
	line-height:25px;
}


/*热门搜索*/
.hot-sousuo{
	
	font-size:14px;
	
}


/*潮流推荐*/
.cooltj{
	
	color:#db1c67 !important;
	
}


.hotH li a{
	
	letter-spacing:2px;/*字符左右间距*/
}







/*热门字体设置*/
.hotH li{
	
	font-family:‘宋体’;
	font-size:12px;
	color:#323232;
	float:left;
	margin-right:25px;
	
}


.zuihou{
	
	margin-right:0px !important;
	
}




/*热门搜索a标签字体颜色*/
.hotH li a{
	
	
	color:#323232;
	
}

.hotH li a:hover{
	
	
	color:#db1c67;
	
}


/*我的estilos*/
.my-estilos{
	
	width:106px;
	height:38px;
	background:url(../images/my-estilosbj.jpg);
	float:left;
	margin-top:43px;
	margin-left:35px;
	
}



.my-estilos a{
	
	display:block;
	width:106px;
	height:38px;
	
}


.my-estilos a p{
	
	font-family:'宋体';
	font-size:12px;
	line-height:38px;
	margin-left:24px;
	color:#575757;
	
}




/*购物车*/
.shopping-card{
	
	width:155px;
	height:43px;
	margin-top:40px;
	float:right;
	
}


/*浅紫色头部*/
.qzheader{
	
	width:100%;
	height:40px;
	background-color:#5f2a58;
	
}



.qzheader-center{
	
	width:1200px;
	height:40px;
	margin:0px auto;
	
}


/*全部商品*/
.all-commodity{
	
	width:152px;
	height:40px;
	background-color:#000000;
	float:left;
	
}


.all-commodity a{
	
	width:152px;
	height:40px;
	display:block;
	
}



.all-commodity  a  p{
	
	
	color:#ffffff;
	line-height:40px;
	font-family:'微软雅黑';
	font-size:16px;
	margin-left:20px;
	
}


.all-commodity  a  p  img{
	
	
	margin-left:4px;
	
}





.qznav{
	
	
	width:800px;
	height:40px;
	float:left;
	
}


.qznav ul li{
	
	float:left;
	margin-left:55px;
	font-family:'微软雅黑';
	font-size:16px;
	line-height:40px;
	
}


.qznav ul li a{
	
	color:#ffffff;
	
}

.qznav ul li a:hover{
	
	color:#da1d67;
	
}



/*小搜索*/
.small-Search{
	
	
	width:197px;
	height:25px;
	float:right;
	margin-top:7px;
	background-color:red;
	
	
}


.small-SearchK{
	
	
	width:141px; 
    height:25px;
	float:left;
	font-size:12px;
	background-color:#ffffff;
	border:none;/*边框颜色大小设置*/
	
	
}



/*搜索按钮*/
.small-Search-Button{

    width:56px; 
    height:25px;
	float:left;
	background-color:#000000;
	font-family:'宋体';
	font-size:12px;
	color:#ffffff;
	border:none;
	line-height:25px;
	cursor:pointer;

}





/*身体*/
.container{
    
	width:100%;
	height:6800px;
	background-color:#ffffff;

}


/*身体居中*/
.container-center{
	
	width:1200px;
	height:6849px;
	margin:0px auto;
	
}


/*产品信息*/
.Product-information{
	
	width:1200px;
	height:625px;
	margin-bottom:30px;
	
}


/*返回*/
.Return{
	
	width:1200px;
	height:48px;
	
}



.Return p{
	
	font-family:'宋体';
	font-size:12px;
	line-height:48px;
	color:#6a6a6a;
	
}


.Return p span{
	
	margin-left:20px;
	margin-right:20px;
	
}

.Return p a{
	
	color:#6a6a6a;
	
}



/*产品信息盒子*/
.Product-information-box{
	
	width:1198px;
	height:575px;
	background-color:#ffffff;
	border:1px solid #9a9a9a;
	
}


/*图片缩放*/
.Product-information-left{
	
	width:311px;
	height:575px;
	background-color:#ffffff;
	border-right:1px solid #b6b6b6;
	float:left;
	overflow:hidden;
	
}



/*产品大图*/
.Product-big-image{
	
	width:271px;
	height:268px;
	margin-top:28px;
	margin-left:19px;
	
}



/*产品小图*/
.small-images-box{
	
	width:311px;
	height:70px;
	margin-top:23px;
	
}



.small-images-box ul li{
	
	float:left;
	
}



.small-images-one{
	
	width:45px;
	height:45px;
	border:1px solid #693b63;
	margin-top:12px;
	display:block;
	margin-right:6px;
	
}



.small-images-two{
	
	width:45px;
	height:45px;
	border:1px solid #ffffff;
	margin-top:12px;
	display:block;
	margin-right:6px;
	
}







.jiantou{
	
	font-family:'宋体';
	font-size:12px;
	line-height:70px;
	margin-left:7px;
	margin-right:7px;
	font-weight:bolder;
	
}


.jiantou a{
	
	color:#3b3b3b;
	
}



.Product-information-left p{
	
	font-family:'宋体';
	font-size:14px;
	color:#b0b0b0;
	margin-top:30px;
	margin-left:20px;
	
}


.Product-information-left p span{
	
	font-family:'宋体';
	font-size:14px;
	color:#b0b0b0;
	margin-left:30px;
	
}


.Product-information-left p span a{
	
	color:#b0b0b0;
	
}


.Product-information-left p span a  img{
	
	margin-right:3px;
	
}


/*分享*/
.fenxiang{
	
	margin-right:10px;
	
}


/*产品信息、购买、同类*/
.Product-information-right{
	
	width:886px;
	height:575px;
	float:left;
	
}


/*产品标题*/
.Commodity-title{
	
	width:886px;
	height:85px;
	overflow:hidden;
	
}


.Commodity-title  ul {
	
	margin-left:50px;
	margin-top:20px;
	
}


.Commodity-title  ul li{
	
	line-height:30px;
	
}



.title-one{
	
	font-family:'微软雅黑';
	font-size:16px;
	color:#626a75;
	
}


.title-two{
	
	font-family:'宋体';
	font-size:14px;
	color:#dc276f;
	
}



/*商品购买以及价格*/
.Price-shopping{
	
	width:886px;
	height:490px;
	overflow:hidden;
	
}



/*购买*/
.shopping{
	
	width:606px;
	height:490px;
	float:left;
	
	
}


/*粉色参考价*/
.Production-test-price{
	
	
	width:606px;
	height:118px;
	background-color:#dd3275;
	
}


.Production-test-price-ul-one{
	
	float:left;
	margin-left:63px;
	margin-top:26px;
	
}


.Production-test-price-ul-one li{
	
	margin-bottom:23px;
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	
	
}


.Production-test-price-ul-two{
	
	float:left;
	margin-left:24px;
	margin-top:26px;
	
}



.Production-test-price-ul-two li{
	
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	
	
}



.Production-test-price-ul-two li  span{
	
	font-family:'Arial';
	font-size:30px;
	color:#ffffff;
	
	
}



.Production-test-price-ul-two li  p img{
	
	margin-right:45px;
	
	
}


.Production-test-price-ul-two-li-two{
	
	margin-top:8px;
	
}



/*尺码颜色*/
.Size-color{
	
	width:606px;
	height:239px;
	overflow:hidden;
	
}



/*尺码颜色标题*/
.Size-color-title{
	
	width:125px;
	height:239px;
	float:left;
}




/*尺码颜色第一个ul*/
.Size-color-ul-one{
	
	margin-left:64px;
	float:left;
	
}




.Size-color-ul-one  li{
	
	margin-top:36px;
	font-size:12px;
	font-family:'宋体';
	color:#b0b0b0;
	line-height:12px;
	
}



.Size-color-ul-one-li-one{
	
	margin-top:20px !important;
	
}


.Size-color-ul-one-li-three{
	
	margin-top:50px !important;
	
}





/*购买的图片尺码的盒子*/
.Purchase-details{
	
	width:475px;
	height:239px;
	float:left;
	
	
}

/*送至*/
.Send-to{
	
	width:475px;
	height:30px;
	margin-top:12px;
	
}


/*服务*/
.Service{
	
	width:475px;
	height:69px;
	margin-top:10px;
	overflow:hidden;
	
}
    

.Service-one{
	
	width:475px;
	height:20px;
	margin-top:6px;
	
}



.Service-one  p{
	
	font-family:'宋体';
	font-size:12px;
	color:#393939;
	
}



.Service-one  p a{
	
	margin-left:20px;
	color:#4c9ae8;
	
}



.Service-two{
	
	width:475px;
	height:14px;
	margin-top:16px;
	
}


.ren{
	
	width:56px;
	height:14px;
	float:left;
	
}

.ren a{
	
	width:56px;
	height:14px;
	display:block;
	color:#383838;
	font-size:12px;
	line-height:14px;
	font-family:'宋体';
	
}


.red-d{
	
	width:16px;
	height:14px;
	background-color:#ff0000;
	font-size:12px;
	font-family:'宋体';
	color:#ffffff;
	line-height:14px;
	text-align:center;
	float:left;
	
}


.Staging{
	
	width:80px;
	height:14px;
	float:left;
	margin-left:20px;
	
}


.Staging a{
	
	width:80px;
	height:14px;
	display:block;
	color:#383838;
	font-size:12px;
	line-height:14px;
	font-family:'宋体';
	
}

.Staging a p{
	
	
	color:#383838;
	font-size:12px;
	line-height:14px;
	font-family:'宋体';
	float:left;
	
	
}


.Staging a img{
	
	float:left;
	
}



.Quality-goods{
	
	width:70px;
	height:14px;
	float:left;
	margin-left:20px;
	
	
}


.Quality-goods a{
	
	width:70px;
	height:14px;
	display:block;
	color:#383838;
	font-size:12px;
	line-height:14px;
	font-family:'宋体';
	
}


/*颜色图片大小*/
.color-img{
	
	width:475px;
	height:41px;
	float:left;
	margin-bottom:10px;
	
}


.color-img a{
	
	width:39px;
	height:39px;
	border:1px solid #dad9d7;
	float:left;
	margin-bottom:10px;
	display:block;
	
}



/*尺码*/
.size-k{
	
	width:475px;
	height:30px;
	float:left;
	
}


.size-s{
	
	width:22px;
	height:28px;
	float:left;
	border:1px solid #dad9d7;
	background-color:#ffffff;
	margin-right:8px;
	float:left;
	
}

.size-s a{
	
	width:22px;
	height:28px;
	display:block;
	font-family:'Arial';
	font-size:14px;
	line-height:28px;
	color:#010101;
	text-align:center;
	
}






/*购买、加入购物车、收藏*/
.Buy-Collection{
	
	width:606px;
	height:50px;
	
}


.Buy{
	
	width:120px; 
    height:38px;
	float:left;
	background-color:#c70000;
	font-family:'微软雅黑';
	font-size:16px;
	color:#ffffff;
	border:1px solid #cecece;
	cursor:pointer;
	margin-left:125px;
	
}


.Join{
	
	width:120px; 
    height:38px;
	float:left;
	background-color:#6bbbf2;
	font-family:'微软雅黑';
	font-size:16px;
	color:#ffffff;
	border:1px solid #cecece;
	cursor:pointer;
	margin-left:20px;
	
}




.Collection{
	
	width:70px; 
    height:38px;
	float:left;
	background-color:#cfcfcf;
	font-family:'微软雅黑';
	font-size:16px;
	color:#000000;
	border:1px solid #cecece;
	cursor:pointer;
	margin-left:20px;
	
}




/*同类商品*/
.Similar{
	
	width:279px;
	height:490px;
	float:left;
	border-left:1px solid #b6b6b6;
	background-color:#ffffff;
	
}


.qihangdian-k{
	
	width:279px;
	height:183px;
	background:url(../images/qihangdianbj.jpg);
	overflow:hidden;
	
}



.qihangdian-k  ul {
	
	margin-left:30px;
	margin-top:10px;
	
}


.qihangdian-k  ul  li{
	
	font-family:'宋体';
	font-size:12px;
	color:#9a9a9a;
	margin-bottom:10px;
	
}


.qihangdian-k  ul  li  span{
	
	margin-left:30px;
	
}


.qihangdian-k-li-one{
	
	font-family:'微软雅黑' !important;
	font-size:16px !important;
	color:#dd3275 !important;
	margin-bottom:8px !important;
	
}


.qihangdian-k-li-two{
	
	
	font-size:14px !important;
	color:#dd3275 !important;
	
}


.qihangdian-k-li-three{
	
	
	font-size:14px !important;
	color:#545454 !important;
	font-weight:bolder;
	
}


.qihangdian-k-li-three a{
	
	
	
	color:#545454;
	
	
}






/*公司电话*/
.Company-phone{
	
	width:279px;
	height:69px;
	background-color:#eeeeee;
	overflow:hidden;
	
}



.Company-phone-ul-one{
	
	margin-top:10px;
	float:left;
	margin-left:32px;
	
}


.Company-phone-ul-one li{
	
	font-family:'宋体' ;
	font-size:14px ;
	line-height:14px;
	color:#545454 ;
	
}

.Company-phone-ul-one-li-two{
	
	margin-top:25px;
	
}



.Company-phone-ul-two{
	
	float:left;
	margin-top:10px;
	margin-left:10px;
	
}



.Company-phone-ul-two li{
	
	font-family:'宋体' ;
	font-size:14px ;
	line-height:14px;
	color:#545454 ;
	
}



.Company-phone-ul-two-li-two{
	
	margin-top:5px;
	margin-bottom:5px;
	
}





/*进入店铺*/
.in-shop{
	
	width:279px;
	height:44px;
	background-color:#ffffff;
	overflow:hidden;
	
}


.in{
	
	width:70px; 
    height:22px;
	float:left;
	background:url(../images/inBJ.jpg);
	font-family:'宋体';
	font-size:12px;
	color:#ffffff;
	border:none;
	cursor:pointer;
	margin-left:90px;
	margin-top:10px;
	
	
}


.collection-shop{
	
	width:70px; 
    height:22px;
	float:left;
	background-color:#eaf4f6;
	font-family:'宋体';
	font-size:12px;
	color:#383838;
	border:1px solid #b6b6b6;
	cursor:pointer;
	margin-left:10px;
	margin-top:10px;
	
	
}







/*同类推荐*/
.Similar-recommendation{
	
	
	width:279px;
	height:34px;
	background-color:#f5f5f5;
	
}


.Similar-recommendation ul li{
	
	float:left;
	font-family:'宋体';
	font-size:12px;
	line-height:34px;
	color:#545454;
	
	
}


.Similar-recommendation ul li a{
	
	color:#dd3275;
	
	
}


.Similar-recommendation-lione{
	
	margin-left:32px;
	
}



.Similar-recommendation-litwo{
	
	margin-left:150px;
	
}



/*同类商品*/
.Similar-goods{
	
	width:279px;
	height:118px;
	margin-top:20px;
	
}



.Similar-goods-img{
	
	width:81px;
	height:118px;
	margin-left:32px;
	float:left;
	
}

.Similar-goods-xx{
	
	width:150px;
	height:110px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	
}


.Similar-goods-xx ul li{
	
	font-family:'宋体';
	font-size:12px;
	color:#f15995;
	line-height:16px;
	
	
}


.Similar-goods-xx-last{
	
	margin-top:20px;
	
}



.Similar-goods-xx ul li a{
	
	
	color:#363636;
	
	
}











/*产品详细*/
.Product-details{
	
	width:1200px;
	height:5720px;
	margin-bottom:150px;
	
}



/*产品详细左边*/
.Product-details-left{
	
	width:182px;
	height:1800px;
	float:left;
	margin-right:20px;
	
}






/*喜欢它的朋友*/
.like-it-friend{
	
	width:180px;
	height:60px;
	border:1px solid #c5c5c5;
	background-color:#dd3275;
	
}


.like-it-friend p{
	
	font-size:16px;
	font-family:'微软雅黑';
	color:#ffffff;
	line-height:60px;
	text-align:center;
	
}




.like-it-friend-Product{
	
	width:182px;
	height:1700px;
	float:left;
	margin-top:10px;
	
}


.like-it-friend-product{
	
	width:176px;
	height:226px;
	border:1px solid #d7dada;
	background-color:#ffffff;
	margin-left:2px;
	margin-bottom:10px;
	
}



.like-it-li{
	
	width:168px;
	height:60px;
	margin-left:5px;
	font-family:'宋体';
	font-size:12px;
	color:#363636;
	line-height:18px;
	
}





.like-it-li span{
	
	font-family:'Arial';
	font-size:16px;
	color:#da1d67;
	line-height:18px;
	margin-left:10px;
	
}




/*产品详细右边*/
.Product-details-right{
	
	width:980px;
	height:5720px;
	float:left;
	
}




/*产品介绍*/
.Commodity-Introduction{
	
	width:978px;
	height:287px;
	border:1px solid #c5c5c5;
	background-color:#ffffff;
	
}


/*产品介绍标题*/
.Commodity-Introduction-title{
	
	width:978px;
	height:47px;
	
}



/*产品介绍主要标题*/
.Commodity-Introduction-small{
	
	width:150px;
	height:44px;
	border-top:3px solid #e71f19;
	background-color:#ffffff;
	float:left;
	
}


.Commodity-Introduction-small a{
	
	width:150px;
	height:44px;
	display:block;
	
}



.Commodity-Introduction-small a p{
	
	font-family:'宋体';
	font-size:14px;
	color:#c70000;
	line-height:44px;
	text-align:center;	
}


/*产品介绍其他标题*/
.Commodity-Introduction-title-Other{
	
	width:827px;
	height:46px;
	border-bottom:1px solid #c5c5c5;
	border-left:1px solid #c5c5c5;
	background-color:#ffffff;
	float:left;
	
}



.title-Other{
	
	width:686px;
	height:46px;
	float:left;
	margin-right:20px;
	
}


.title-Other ul li{
	
	font-size:14px;
	font-family:'宋体';
	margin-left:45px;
	float:left;
	line-height:46px;
	
}


.title-Other ul li img{
	
	
	margin-right:45px;
	
	
}



.title-Other ul li a:hover{
	
	
	color:#c70000;
	
	
}




.title-Other-li-a{
	
	color:#666666;
	
}



/*加入购物车*/
.Join-in-shopping{
	
	width:102px;
	height:30px;
	background:url(../images/Join-in-shoppingbj.jpg);
	margin-top:8px;
	float:left;
	
}



.Join-in-shopping a{
	
	width:102px;
	height:30px;
	display:block;
	
}


.Join-in-shopping a p{
	
	line-height:30px;
	text-align:center;
	color:#ffffff;
	font-family:'宋体';
	font-size:14px;
	
}



/*参数*/
.Product-parameters{
	
	width:978px;
	height:240px;
	overflow:hidden;
	
}






.Product-parameters ul{
	
	margin-top:40px;
	margin-left:75px;
	float:left;
	
	
}



.Product-parameters ul li{
	
	font-family:'宋体';
	font-size:12px;
	color:#666666;
	line-height:22px;
	
}





/*产品介绍大图*/
.Product-details-big-img{
	
	width:882px;
	height:4641px;
	margin-top:15px;
	margin-bottom:25px;
	
}




/*累计评论*/
.Cumulative-product-theory{
	
	
	width:980px;
	height:190px;
	background-color:#ffffff;
	
}



/*累计评论标题*/
.Cumulative-product-theory-title{
	
	width:980px;
	height:34px;
	
	
}



.Cumulative-product-theory-title p{
	
	font-family:'微软雅黑';
	font-size:16px;
	line-height:34px;
	color:#4f4f4f;
	margin-left:90px;
	
}




/*用户描述盒子*/
.Description-box{
	
	width:748px;
	height:129px;
	background-color:#ffffff;
	border:1px solid #cdcccc;
	margin-left:68px;
	
}


/*描述相符*/
.Match{
	
	width:128px;
	height:129px;
	float:left;
	background-color:#ffffff;
	border-right:1px solid #939395;
	
	
}


.Match ul li{
	
	text-align:center;
}



.Match ul li p{
	
	font-family:'宋体';
	font-size:14px;
	color:#5c5b5b;
	margin-top:25px;
	
}


.Match ul li img{
	
	
	margin-top:35px;
	
}




/*大家描述*/
.We-describe{
	
	width:600px;
	height:129px;
	float:left;
	overflow:hidden;
	
}





.We-describe p{
	
	font-family:'宋体';
	font-size:14px;
	color:#5c5b5b;
	line-height:14px;
	margin-top:22px;
	margin-left:5px;
	float:left;
	
}



.We-describe  ul{
	
	float:left;
	
}


.We-describe  ul li{
	
	float:left;
	width:110px;
	height:28px;
	line-height:28px;
	font-family:'宋体';
	font-size:12px;
	color:#5c5b5b;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #e2474c;
	margin-left:25px;
	margin-top:30px;
	
}







/*所有评价*/
.All-evaluation{
	
	width:749px;
	height:24px;
	background-color:#ffffff;
	border-bottom:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	margin-left:68px;
	
}


.All-e{
	
	width:130px;
	height:24px;
	float:left;
	
	
}





.All-e a{
	
	width:120px;
	height:24px;
	display:block;
	
}


.All-e a p{
	
	line-height:24px;
	font-family:'宋体';
	font-size:12px;
	color:#919090;
	text-align:center;
	
}







.other-evaluation{
	
	
	width:619px;
	height:24px;
	float:left;
	background-color:#f2f2f2;
	
}



.other-evaluation ul li{
	
	float:left;
	margin-right:120px;
	line-height:24px;
	font-family:'宋体';
	font-size:12px;
	margin-left:10px;
	
	
}


.other-evaluation ul li a{
	
	color:#919090;
	
}



/*评价心得*/
.Evaluation-experience{
	
	width:980px;
	height:380px;
	margin-top:25px;
	background-color:#ffffff;
	
}




.experience-one{
	
	
	width:748px;
	height:196px;
	background-color:#ffffff;
	border:1px solid #939395;
	margin-left:68px;
	
}


.Evaluation-experience-title{
	
	width:748px;
	height:26px;
	background-color:#f2f2f2;
	
}



.Evaluation-experience-title ul li{
	
	float:left;
	line-height:26px;
	font-family:'宋体';
	font-size:12px;
	color:#626262;
	
}


.experience-lione{
	
	margin-left:90px;
	
}



.experience-litwo{
	
	margin-left:250px;
	
}


.experience-lithree{
	
	margin-left:45px;
	
}


.experience-lifour{
	
	margin-left:120px;
	
}



/*详细评价1*/
.Detailed-evaluation-one{
	
	width:748px;
	height:61px;
	
}



.Detailed-evaluations{
	
	
	width:385px;
	height:61px;
	background-color:#ffffff;
	float:left;
	
}



.Delione{
	
	font-family:'宋体';
	font-size:12px;
	color:#919090;
	line-height:30px;
	margin-left:30px;
	
}


.Delitwo{
	
	font-family:'宋体';
	font-size:12px;
	line-height:30px;
	margin-left:30px;
	
}


.Delitwo a {
	
	color:#f99e55;
	
}


.Delitwo a  span{
	
	color:#f9d740;
	
}



.Delithree{
	
	font-family:'宋体';
	font-size:12px;
	line-height:30px;
	margin-left:30px;
	position:relative;
	top:-30px;/*绝对定位*/
	left:80px;
	
}


.Delithree a {
	
	color:#919090;
	
}




/*顾客满意度*/
.Customer-satisfaction{
	
	width:108px;
	height:61px;
	background-color:#ffffff;
	float:left;
	
	
}




/*购买信息*/
.Purchase-informations{
	
	width:168px;
	height:61px;
	background-color:#ffffff;
	float:left;
	
	
	
}


.Purchase-informations ul  li{
	
	font-family:'宋体';
	font-size:12px;
	line-height:30px;
	color:#919090;
	
}




/*评论者*/
.The-reviewers{
	
	width:85px;
	height:61px;
	background-color:#ffffff;
	float:left;
	
}

.The-reviewers p{
	
	font-family:'宋体';
	font-size:12px;
	color:#919090;
	margin-top:20px;
	
}




/*回复*/
.Reply-k{
	
	
	width:440px;
	height:100px;
	background:url(../images/Replybj.jpg);
	margin-left:30px;
	
}



.Replys{
	
	width:400px;
	height:46px;
	border:1px solid #dfdfdf;
	background-color:#ffffff;
	margin-left:20px !important;
	margin-top:30px;
	
}










/*第二个评论*/
.experience-two{
	
	
	width:748px;
	height:100px;
	background-color:#ffffff;
	border:1px solid #939395;
	margin-left:68px;
	margin-top:4px;
	padding-top:10px;
	
}




/*灰色小分页*/
.gray-Paging{
	
	width:300px;
	height:20px;
	margin-top:20px;
	margin-left:500px;
	
	
}


.gray-Paging ul li{
	
	font-family:'宋体';
	font-size:12px;
	line-height:20px;
	float:left;
	margin-left:12px;
}


.gray-Paging ul li a{
	
	color:#000000;
	text-align:center;
	display:block;
	height:18px;
	width:18px;
	border:1px solid #606060;
	background-color:#dadada;
	
}



.gray-Paging ul li a:hover{
	
	border:1px solid #ffffff;
	background-color:#ffffff;
	color:#ff008a;
	
}



.Paging-ul-lione a{
	
	border:1px solid #ffffff !important;
	background-color:#ffffff !important;
	color:#ff008a !important;
	
}



/*下一页*/
.Next-page-t{
	
	border:1px solid #606060;
	background-color:#dadada;
	height:20px;
	width:44px;
	font-family:'宋体';
	font-size:12px;
	line-height:18px;
	color:#000000;
	cursor:pointer;
	
}




/*成交记录*/


.Transaction-records{
	
	width:750px;
	height:138px;
	margin-left:68px;
	
}



/*成交记录标题*/
.Transaction-records-title{
	
	width:750px;
	height:38px;
	background-color:#300938;
	
}



.Transaction-records-title p{
	
	font-size:16px;
	font-family:'微软雅黑';
	color:#ffffff;
	line-height:38px;
	margin-left:11px;
	
}


/*成交记录*/
.transaction-records{
	
	
	width:748px;
	height:99px;
	background-color:#ffffff;
	border:1px solid #939395;
	border-top:none;
	
}






/*买家信息*/
.Buyer-information{
	
	width:748px;
	height:30px;
	background-color:#f2f2f2;
	
}



.Buyer-information ul li{
	
	float:left;
	line-height:30px;
	font-family:'宋体';
	font-size:14px;
	line-height:30px;
	color:#545454;
	
}



.Buyer-information ul li a{
	
	color:#727272;
	font-size:12px !important;
	
}


/*第一个li*/
.BIlione{
	
	margin-left:15px;
	
}




/*第二个li*/
.BIlitwo{
	
	margin-left:190px;
	
}




/*第三个li*/
.BIlithree{
	
	margin-left:140px;
	
}



/*第si个li*/
.BIlifour{
	
	margin-left:110px;
	
}



.buyer{
	
	
	width:748px;
	height:66px;
	overflow:hidden;
	
}



/*用户信息*/
.buyer-information{
	
	width:305px;
	height:66px;
	float:left;
	overflow:hidden;
	
}


.buyer-information p{
	
	font-size:12px;
	color:#767676;
	font-family:'宋体';
	margin-left:15px;
	margin-top:10px;
	
}


/*款式*/
.Model{
	
	width:200px;
	height:66px;
	float:left;
	
}


.Model ul  li{
	
	font-family:'宋体';
	font-size:14px;
	color:#545454;
	line-height:30px;
	
}





/*数量*/
.numbers{
	
	width:140px;
	height:66px;
	float:left;
	
}



.numbers p{
	
	font-family:'宋体';
	font-size:14px;
	color:#545454;
	line-height:60px;
	margin-left:15px;
	
}



/*成交时间*/
.Closing-time{
	
	width:100px;
	height:66px;
	float:left;
	
}



.Closing-time ul li{
	
	font-family:'宋体';
	font-size:14px;
	color:#767676;
	line-height:30px;
	
}






/*猜你喜欢*/
.Guess-you-like{
	
	width:1198px;
	height:260px;
	background-color:#ffffff;
	border:1px solid #bababb;
	
}



/*猜你喜欢标题*/
.Guess-you-like-title{
	
	width:1198px;
	height:34px;
	
	
}

.red-T{
	
	width:148px;
	height:4px;
	background-color:red;	
}


.title-like{
	
	width:1198px;
	height:30px;
	
}




.title-like p{
	
	font-size:14px;
	font-family:'宋体';
	color:#5a5a5a;
	line-height:30px;
	margin-left:20px;
	
}


.Guess-you-like-goods{
	
	
	width:1198px;
	height:200px;
	
}



.guess-goods{
	
	width:145px;
	height:200px;
	margin-left:45px;
	float:left;
	
}



.guess-goods ul li{
	
	margin-left:3px;
	font-family:'Arial';
	font-size:14px;
	color:#da1d67;
	text-align:center;
	margin-bottom:10px;
	line-height:16px;
	
}


.guess-goods ul li a{
	
	
	font-family:'宋体' !important;
	font-size:12px !important;
	color:#5c5c5c;
	
	
}

.guess-goods ul li a:hover{
	
	
	color:#da1d67;
	
	
}



/*底部*/
.footer{
    
	width:100%;
	height:603px;
	background:url(../images/footerBJ.jpg);

}


/*底部居中*/
.footer-center{
	
	width:1200px;
	height:603px;
	margin:0px auto;
	
}



/*灰色底部*/
.gray-footer{
	
	width:1200px;
	height:330px;
	overflow:hidden;
	
}




/*四点认识*/
.four-views{
	
	width:1200px;
	height:54px;
	margin-top:18px;
	
}

.four-views  ul  li{
	
	width:206px;
	height:54px;
	background:url(../images/four-viewsBJ.jpg);
	float:left;
	margin-right:44px;
	line-height:54px;
	
	
}


.four-views  ul  li  p{
	
	font-family:'微软雅黑';
	font-size:18px;
	margin-left:18px;
	color:#000000;
	
}



.four-views  ul  li  p  span{
	
	font-family:'微软雅黑';
	font-size:16px;
	margin-left:40px;
	
}




/*五点认识和地区*/
.five-views-district{
	
	width:1200px;
	height:170px;
	margin-top:28px;
	
	
}


/*五点认识*/
.five-views{
	
	width:864px;
	height:170px;
	float:left;
	
}

.five-views  ul{
	
	float:left;
	margin-right:110px;
	
}

.five-views-last{
	
	margin-right:0px !important;
	
}


/*五点认识的标题*/
.five-views-title{
	
	font-size:16px !important;
	font-family:'微软雅黑' !important;
	color:#33302b !important;
	margin-bottom:20px;
	line-height:16px !important;
	
}





.five-views  ul  li{
	
	font-family:'宋体';
	font-size:14px;
	line-height:22px;
	
}


.five-views  ul  li a{
	
	color:#323232;
	
}


.five-views  ul  li a:hover{
	
	color:#da1d67;
	
}



/*地区*/
.district{
	
	width:170px;
	height:170px;
	float:left;
	margin-left:113px;
	
}


.district ul li{
	
	text-align:center;
	font-family:'宋体';
	font-size:12px;
	color:#323232;
	line-height:18px;
	
}



/*地区标题*/
.district-title{
	
	font-family:'微软雅黑'!important;
	font-size:16px!important;
	color:#33302b!important;
	
	
}



/*地区文章*/
.district-article{
	
	text-align:left !important;
	
}


/*地区查看详细*/
.look{
	
	float:right;
	
}


.look a{
	
	color:#33302b;
	
}

.look a:hover{
	
	color:#000000;
	
}


/*紫色底部*/
.purple-footer{
	
	width:1200px;
	height:273px;
	
}






/*版权以及连接等等*/
.banquan{
	
	width:1200px;
	height:196px;
	float:left;
	
}


.banquan ul{
	
	margin-top:25px;
	
}


.banquan ul li{
	
	color:#ffffff;
	text-align:center;
	line-height:32px;
	font-family:'宋体';
	font-size:12px;
	
}


.banquan ul li a{
	
	color:#ffffff;
	
}



.banquan ul li a:hover{
	
	color:black;
	
}


/*认证标志*/
.renzheng{
	
	width:728px;
	height:47px;
	float:left;
	margin-left:236px;
	
}



