/*全局外内边距0*/
*{  
    margin:0px;
	padding:0px;
}




/*有序列表去圆点*/
ul li{
	list-style-type:none;

}

/*链接去下划线字体颜色*/
a{
	text-decoration:none;
	color:#000000;

}


/*a虚线狂去除*/
a{outline:none;blr:expression(this.onFocus=this.blur());}

/*IEa虚线狂去除*/
a{blr:expression(this.onFocus=this.blur());}


/*图片去边框*/
img{
	border:none;

}


/*头部*/
.header{
    
	width:100%;
	height:219px;

}



/*紫色头部*/
.Zheader{
    
	width:100%;
	height:38px;
	background-color:#43093b;

}


/* 紫色头部居中*/
.zcenter{
    
	width:1200px;
	height:38px;
	margin:0px auto;
	background:url(../images/zcenter3.jpg);

}


/*收藏*/

.HSC{
	
	width:80px;
	height:38px;
	float:left;
	margin-left:6px;
	line-height:38px;
	
}




.HSC img{
	
	width:21px;
	height:30px;
	float:left;
	margin-top:4px;
	
}
.HSC a{
	
	color:#ffffff;
	font-size:12px;
	font-family:'宋体';
	float:left;
	margin-left:3px;
	
}


/*头部导航*/
.head-nav{
	
	width:726px;
	height:38px;
	float:right;
	
}


.head-nav  ul  li{
	
	float:left;
	color:#ffffff;
	font-size:12px;
	font-family:'宋体';
	line-height:38px;
	
}


.head-nav  ul  li a{
	
	color:#ffffff;
}



.Sign-in a:hover{
	
	color:#da1d67;

}


.My-order{
	
	margin-left:18px;
	
}


.estilos-user{
	
	margin-left:50px;
	
}


.phoneESTTILOS{
	
	width:106px;
	height:16px;
	background:url(../images/phoneESTTILOSbj2.jpg);
	margin-left:23px;
	margin-top:10px;
	
}


.phoneESTTILOS a p{
	
	margin-left:20px;
	position:relative;
	top:-10px;
	
}


.Customer-service{
	
	margin-left:20px;
	
}

.Website-navigation{
	
	margin-left:22px;
	
}

.Website-navigation img{
	
	margin-left:5px;
	margin-top:2px;
	
}

/*白色头部*/
.Bheader{
	
	width:100%;
	height:141px;
	background-color:#ffffff;
	
}


.Bheader-center{
	
	width:1200px;
	height:141px;
	margin:0px auto;
	overflow:hidden;
	
}



.logo{
	
	
	width:300px;
	height:92px;
	float:left;
	margin-top:25px;
	
}


/*搜索大盒子*/
.SSH{

    width:508px;
	height:55px;
	float:left;
	margin-top:47px;
	margin-left:80px;

}


/*搜索框盒子*/
.SSKH{

    width:502px;
	height:30px;
	background-color:black;
	float:left;

}


/*搜索框*/
.sousuoK{

    width:380px; 
    height:28px;
	float:left;
	font-size:12px;
	background-color:#ffffff;
	border:1px solid #da1d67;/*边框颜色大小设置*/
	

}


/*搜索按钮*/
.anniu{

    width:60px; 
    height:30px;
	float:left;
	background-color:#da1d67;
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	border:none;
	cursor:pointer;

}


/*搜索2按钮*/
.annius{

    width:60px; 
    height:30px;
	float:left;
	background-color:#757575;
	font-family:'宋体';
	font-size:14px;
	color:#ffffff;
	border:none;
	cursor:pointer;

}


/*热门搜索盒子*/
.hotSSH{

    width:487px;
	height:25px;
	float:left;

}


/*字体的盒子*/
.hotH{
	
	width:370px;
	height:25px;
	line-height:25px;
}


/*热门搜索*/
.hot-sousuo{
	
	font-size:14px;
	
}


/*潮流推荐*/
.cooltj{
	
	color:#db1c67 !important;
	
}


.hotH li a{
	
	letter-spacing:2px;/*字符左右间距*/
}







/*热门字体设置*/
.hotH li{
	
	font-family:‘宋体’;
	font-size:12px;
	color:#323232;
	float:left;
	margin-right:25px;
	
}


.zuihou{
	
	margin-right:0px !important;
	
}




/*热门搜索a标签字体颜色*/
.hotH li a{
	
	
	color:#323232;
	
}

.hotH li a:hover{
	
	
	color:#db1c67;
	
}


/*我的estilos*/
.my-estilos{
	
	width:106px;
	height:38px;
	background:url(../images/my-estilosbj.jpg);
	float:left;
	margin-top:43px;
	margin-left:35px;
	
}



.my-estilos a{
	
	display:block;
	width:106px;
	height:38px;
	
}


.my-estilos a p{
	
	font-family:'宋体';
	font-size:12px;
	line-height:38px;
	margin-left:24px;
	color:#575757;
	
}




/*购物车*/
.shopping-card{
	
	width:155px;
	height:43px;
	margin-top:40px;
	float:right;
	
}


/*浅紫色头部*/
.qzheader{
	
	width:100%;
	height:40px;
	background-color:#5f2a58;
	
}



.qzheader-center{
	
	width:1200px;
	height:40px;
	margin:0px auto;
	
}


/*全部商品*/
.all-commodity{
	
	width:152px;
	height:40px;
	background-color:#000000;
	float:left;
	
}


.all-commodity a{
	
	width:152px;
	height:40px;
	display:block;
	
}



.all-commodity  a  p{
	
	
	color:#ffffff;
	line-height:40px;
	font-family:'微软雅黑';
	font-size:16px;
	margin-left:20px;
	
}


.all-commodity  a  p  img{
	
	
	margin-left:4px;
	
}





.qznav{
	
	
	width:800px;
	height:40px;
	float:left;
	
}


.qznav ul li{
	
	float:left;
	margin-left:55px;
	font-family:'微软雅黑';
	font-size:16px;
	line-height:40px;
	
}


.qznav ul li a{
	
	color:#ffffff;
	
}

.qznav ul li a:hover{
	
	color:#da1d67;
	
}



/*小搜索*/
.small-Search{
	
	
	width:197px;
	height:25px;
	float:right;
	margin-top:7px;
	background-color:red;
	
	
}


.small-SearchK{
	
	
	width:141px; 
    height:25px;
	float:left;
	font-size:12px;
	background-color:#ffffff;
	border:none;/*边框颜色大小设置*/
	
	
}



/*搜索按钮*/
.small-Search-Button{

    width:56px; 
    height:25px;
	float:left;
	background-color:#000000;
	font-family:'宋体';
	font-size:12px;
	color:#ffffff;
	border:none;
	line-height:25px;
	cursor:pointer;

}





/*身体*/
.container{
    
	width:100%;
	height:auto;
	background-color:#ffffff;

}


/*身体居中*/
.container-center{
	
	width:1200px;
	height:auto;
	margin:0px auto;
	
}



/*返回*/
.Return{
	
	width:1200px;
	height:38px;
}


.Return p{
	
	font-family:'宋体';
	font-size:14px;
	line-height:38px;
	color:#6a6a6a;
	
}


.Return p  span{
	
	margin-left:8px;
	margin-right:8px;
	color:#7d7d7d;
	font-size:12px;
	
}

.Return p a{
	
	color:#6a6a6a;
	
}




/*身体左边*/
.container-left{
	
	width:150px;
	height:688px;
	float:left;
	border:1px solid #c5c5c5;
	background-color:#ffffff;
	margin-right:20px;
	overflow:hidden;
	
	
}


.clear{
	
	
	clear:both;
	
}

/*会员标题*/
.Member-center-title{
	
	width:150px;
	height:36px;
	margin-top:10px;
	background:url(../images/Member-center-titlebj.jpg);
	
}



.Member-center-title p{
	
	font-family:'微软雅黑';
	font-size:16px;
	line-height:36px;
	color:#ffffff;
	margin-left:45px;
	
}



.Member-home{
	
	width:150px;
	height:36px;
	background-color:#ffffff;
	border-bottom:1px solid #b9b9b9;
	
}




.Member-home  a  p{
	
	font-family:'微软雅黑';
	font-size:16px;
	line-height:36px;
	color:#fc5e00;
	margin-left:22px;
	
}



.Member-home  a p  img{
	
	margin-right:5px;
	
}


/*订单信息*/
.Order-information{
	
	width:150px;
	height:115px;
	background-color:#ffffff;
	border-bottom:1px solid #b9b9b9;
	
}


/*订单信息图标*/
.Order-information-icon{
	
	
	width:45px;
	height:115px;
	background-color:#ffffff;
	float:left;
	
}


/*订单信息图标*/
.Order-information-icon  img{
	
	margin-left:20px;
	margin-top:16px;
	
}



/*订单详细*/
.Order-details{
	
	width:105px;
	height:115px;
	background-color:#ffffff;
	float:left;
	
}


.left-ul{
	
	margin-top:16px;
	
}


.left-title{
	
	font-size:14px !important;
	color:#3f3f3f !important;
	font-weight:bolder;
	line-height:14px !important;
	
}


.left-ul li{
	
	font-family:'宋体';
	font-size:12px;
	color:#585657;
	margin-bottom:10px;
	line-height:12px;
	
}






.left-ul li a{
	
	color:#585657;
	
}



.left-ul li a:hover{
	
	color:#dc276e;
	
}




/*积分管理*/
.Integral-management{
	
	width:150px;
	height:90px;
	background-color:#ffffff;
	border-bottom:1px solid #b9b9b9;
	
}



/*积分管理图标*/
.Integral-management-icon{
	
	width:45px;
	height:90px;
	background-color:#ffffff;
	float:left;
	
}


/*积分管理图标*/
.Integral-management-icon  img{
	
	margin-left:18px;
	margin-top:16px;
	
}


/*积分详细*/
.Integral-detail{
	
	width:105px;
	height:90px;
	background-color:#ffffff;
	float:left;
	
}


/*账户设置*/
.Account-setup{
	
	width:150px;
	height:135px;
	background-color:#ffffff;
	border-bottom:1px solid #b9b9b9;
	
}



/*账户设置图标*/
.Account-setup-icon{
	
	width:45px;
	height:135px;
	background-color:#ffffff;
	float:left;
	
}


/*账户设置图标*/
.Account-setup-icon  img{
	
	margin-left:18px;
	margin-top:16px;
	
}



/*账户设置详细*/
.Account-details{
	
	width:105px;
	height:135px;
	background-color:#ffffff;
	float:left;
	
}







/*付款设置*/
.Payment-settings{
	
	width:150px;
	height:115px;
	background-color:#ffffff;
	border-bottom:1px solid #b9b9b9;
	
}


/*付款设置图标*/
.Payment-settings-icon{
	
	width:45px;
	height:115px;
	background-color:#ffffff;
	float:left;
	
}


/*付款设置图标*/
.Payment-settings-icon  img{
	
	margin-left:18px;
	margin-top:16px;
	
}


/*付款设置详细*/
.Payment-details{
	
	width:105px;
	height:115px;
	background-color:#ffffff;
	float:left;
	
}






/*客服服务*/
.Customer-Service{
	
	width:150px;
	height:145px;
	background-color:#ffffff;
	
}



/*付款设置图标*/
.Customer-Service-icon{
	
	width:45px;
	height:145px;
	background-color:#ffffff;
	float:left;
	
}


/*付款设置图标*/
.Customer-Service-icon  img{
	
	margin-left:18px;
	margin-top:16px;
	
}


/*付款设置详细*/
.Customer-details{
	
	width:105px;
	height:145px;
	background-color:#ffffff;
	float:left;
	
	
}



/*点击点*/
.Click-point{
	
	color:#dc286f !important;
	
}



/*身体右边*/
.container-right{
	
	width:1028px;
	height:auto;
	float:left;
	
}



/*身体右边上半部分*/
.container-right-top{
	
	width:1026px;
	height:auto;
	border:1px solid #dbdbdb;
	background-color:#ffffff;
	margin-bottom:50px;
	
}



/*系统信息标题*/
.System-information-title{
	
	width:1026px;
	height:56px;
	background-color:#f9f7f8;
	
}


.System-information-title ul li{
	
	float:left;
	font-family:'宋体';
	font-size:14px;
	color:#dc286f;
	line-height:56px;
	
}


/*第一个li*/
.SITlione{
	
	margin-left:38px;
	
}



/*文章内容*/
.The-contents{
	
	width:890px;
	height:auto;
	margin:auto auto;
	
}



/*文章标题*/
.Article-title{
	
	width:890px;
	height:80px;
	
}



.Article-title p{
	
	line-height:80px;
	font-family:'微软雅黑';
	color:#606060;
	font-size:18px;
	text-align:center;
	
}




/*文章详细内容*/
.the-article-details{
	
	width:890px;
	height:auto;
	border-bottom:1px solid #d8d8d8;
	
}



.the-article-details  ul  li{
	
	font-family:'宋体';
	font-size:14px;
	color:#6a6a6a;
	line-height:20px;
	margin-bottom:22px;
	text-indent:2em;
	
}


/*发布*/
.Release{
	
	width:890px;
	height:40px;
	margin-bottom:30px;
	
}


.Release p{
	
	line-height:40px;
	font-family:'宋体';
	color:#6a6a6a;
	font-size:14px;
	float:left;
	
}




.Release span{
	
	line-height:40px;
	font-family:'宋体';
	color:#6a6a6a;
	font-size:14px;
	float:right;
	
}




/*身体右边下半部分*/
.container-right-bottom{
	
	width:1026px;
	height:300px;
	border:1px solid #dbdbdb;
	background-color:#ffffff;
	margin-bottom:100px;
	
}




/*浏览历史*/
.Browse-history{
	
	width:1026px;
	height:58px;
	background-color:#f9f7f8;
	
}




/*浏览历史*/
.Browse-history p{
	
	line-height:58px;
	margin-left:25px;
	font-family:'宋体';
	font-size:14;
	color:#737373;
	font-weight:bolder;
	
}



/*产品大盒子*/
.Product-large-box{
	
	width:1026px;
	height:242px;
	
}


/*产品盒子*/
.Product-small-box{
	
	width:182px;
	height:208px;
	border:1px solid #c5c5c5;
	float:left;
	margin-left:18px;
	margin-top:10px;
	background-color:black;
	
}


/*产品图片*/
.Product-imgs{
	
	width:182px;
	height:208px;
	
}


/*黑底*/
.Black-D{
	
	width:182px;
	height:30px;
	position:relative;
	top:-30px;
	background-color:#000000;
	filter: alpha(opacity=75);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75); /*ie6/7/8可以用*/  
	opacity: 0.75; /*在Firefox, Safari, Chrome和Opera下的CSS透明度*/ 
	overflow:hidden;
	
}


/*白字*/
.White-Z{
	
	width:182px;
	height:30px;
	position:relative;
	top:-60px;
	
}



.White-Z p{
	
	line-height:30px;
	font-size:14px;
	font-family:'宋体';
	color:#ffffff;
	text-align:center;
	
}



.White-Z p  span{
	
	margin-left:20px;
	font-weight:bolder;
	
}





/*底部*/
.footer{
    
	width:100%;
	height:603px;
	background:url(../images/footerBJ.jpg);

}


/*底部居中*/
.footer-center{
	
	width:1200px;
	height:603px;
	margin:0px auto;
	
}



/*灰色底部*/
.gray-footer{
	
	width:1200px;
	height:330px;
	overflow:hidden;
	
}




/*四点认识*/
.four-views{
	
	width:1200px;
	height:54px;
	margin-top:18px;
	
}

.four-views  ul  li{
	
	width:206px;
	height:54px;
	background:url(../images/four-viewsBJ.jpg);
	float:left;
	margin-right:44px;
	line-height:54px;
	
	
}


.four-views  ul  li  p{
	
	font-family:'微软雅黑';
	font-size:18px;
	margin-left:18px;
	color:#000000;
	
}



.four-views  ul  li  p  span{
	
	font-family:'微软雅黑';
	font-size:16px;
	margin-left:40px;
	
}




/*五点认识和地区*/
.five-views-district{
	
	width:1200px;
	height:170px;
	margin-top:28px;
	
	
}


/*五点认识*/
.five-views{
	
	width:864px;
	height:170px;
	float:left;
	
}

.five-views  ul{
	
	float:left;
	margin-right:110px;
	
}

.five-views-last{
	
	margin-right:0px !important;
	
}


/*五点认识的标题*/
.five-views-title{
	
	font-size:16px !important;
	font-family:'微软雅黑' !important;
	color:#33302b !important;
	margin-bottom:20px;
	line-height:16px !important;
	
}





.five-views  ul  li{
	
	font-family:'宋体';
	font-size:14px;
	line-height:22px;
	
}


.five-views  ul  li a{
	
	color:#323232;
	
}


.five-views  ul  li a:hover{
	
	color:#da1d67;
	
}



/*地区*/
.district{
	
	width:170px;
	height:170px;
	float:left;
	margin-left:113px;
	
}


.district ul li{
	
	text-align:center;
	font-family:'宋体';
	font-size:12px;
	color:#323232;
	line-height:18px;
	
}



/*地区标题*/
.district-title{
	
	font-family:'微软雅黑'!important;
	font-size:16px!important;
	color:#33302b!important;
	
	
}



/*地区文章*/
.district-article{
	
	text-align:left !important;
	
}


/*地区查看详细*/
.look{
	
	float:right;
	
}


.look a{
	
	color:#33302b;
	
}

.look a:hover{
	
	color:#000000;
	
}


/*紫色底部*/
.purple-footer{
	
	width:1200px;
	height:273px;
	
}






/*版权以及连接等等*/
.banquan{
	
	width:1200px;
	height:196px;
	float:left;
	
}


.banquan ul{
	
	margin-top:25px;
	
}


.banquan ul li{
	
	color:#ffffff;
	text-align:center;
	line-height:32px;
	font-family:'宋体';
	font-size:12px;
	
}


.banquan ul li a{
	
	color:#ffffff;
	
}



.banquan ul li a:hover{
	
	color:black;
	
}


/*认证标志*/
.renzheng{
	
	width:728px;
	height:47px;
	float:left;
	margin-left:236px;
	
}



