<!-- 加载头页面 -->
<include file="public/top" />
	<!-- 身体-->
	<div class="container">
	    <div class="container-center">
		    <!--产品信息-->
			<div class="Product-information">
			    <!--返回-->
				<div class="Return">
				    <p><a href="shouye.html">首页</a><span>></span><a href="#">服装鞋帽</a><span>></span><a href="#">女装</a><span>></span><a href="#">连衣裙</a><span>></span>ESTILOS2015秋装新款女装印花瘦身连衣裙HH152</p>
				</div>
				<div class="Product-information-box">
					<!--图片缩放-->
					<div class="Product-information-left">
					    <!--大图-->
						<div class="Product-big-image"><img src="__PUBLIC__/home/images/Product-big-image.jpg"/></div>
						<!--小图-->
						<div class="small-images-box">
						    <ul>
							    <li class="jiantou"><a href="#"><</a></li>
								<li><a href="#" class="small-images-one"><img src="__PUBLIC__/home/images/xiaotu1.jpg"/></a></li>
								<li><a href="#" class="small-images-two"><img src="__PUBLIC__/home/images/xiaotu2.jpg"/></a></li>
								<li><a href="#" class="small-images-two"><img src="__PUBLIC__/home/images/xiaotu3.jpg"/></a></li>
								<li><a href="#" class="small-images-two"><img src="__PUBLIC__/home/images/xiaotu4.jpg"/></a></li>
								<li><a href="#" class="small-images-two"><img src="__PUBLIC__/home/images/xiaotu5.jpg"/></a></li>
								<li class="jiantou"><a href="#">></a></li>
							</ul>
						</div>
						<p>商品编号：A62134718<span><a class="fenxiang" href="#"><img src="__PUBLIC__/home/images/fenxiang.jpg"/>分享</a><a href="#"><img src="__PUBLIC__/home/images/guanzhu.jpg"/>关注</a></span></p>
					</div>
					<!--图片缩放右边-->
					<div class="Product-information-right">
					    <!--商品标题-->
						<div class="Commodity-title">
						    <ul>
							    <li class="title-one">estilos2015秋装新款女装印花瘦身连衣裙hh152</li>
								<li class="title-two">双十一秋冬热卖狂欢节 热卖爆品全线5折新降价 秋冬特惠低至69元 赠品抢不停！</li>
							</ul>
						</div>
						<!--商品购买-->
						<div class="Price-shopping">
							<!--购买-->
							<div class="shopping">
							    <div class="Production-test-price">
								    <ul class="Production-test-price-ul-one">
									    <li>参考价</li>
										<li>易购价</li>
									</ul>
									<ul class="Production-test-price-ul-two">
									    <li>￥Undefined</li>
										<li class="Production-test-price-ul-two-li-two">￥<span>148.00<span></li>
										<li><p><img src="__PUBLIC__/home/images/baisexing.jpg"/>4.2分 共有5条评论</p></li>
									</ul>
								</div>
								<!--尺码颜色-->
								<div class="Size-color">
								    <div class="Size-color-title">
									    <ul class="Size-color-ul-one">
									        <li class="Size-color-ul-one-li-one">送至</li>
										    <li>服务</li>
										    <li class="Size-color-ul-one-li-three">颜色</li>
										    <li>尺码</li>
									    </ul>
									</div>
									<!--购买详情-->
									<div class="Purchase-details">
										<!--送至-->
										<div class="Send-to"><select><option>江西 南昌 青山湖区</option><option selected="selected">湖南 长沙 芙蓉区</option></select></div>
										<!--服务-->
										<div class="Service">
										    <div class="Service-one"><p>由“ESTILOS衣柜旗舰店”直接销售，并提供售后服务<a href="#"><img src="__PUBLIC__/home/images/aliww.jpg"/>和我联系</a></p></div>
											<div class="Service-two">
											    <div class="ren"><a href="#"><div class="red-d">任</div>任性付</a></div>
												<div class="Staging"><a href="#"><img src="__PUBLIC__/home/images/Staging.jpg"/> <p>分期付款</p></a></div>
												<div class="Quality-goods"><a href="#"><div class="red-d">保</div>保证正品</a></div>
											</div>
										</div>
										<!--颜色-->
										<div class="color-img"><a href="#"><img src="__PUBLIC__/home/images/color-img.jpg"/></a></div>
										<!--尺码-->
										<div class="size-k">
										    <div class="size-s"><a href="#">M</a></div>
											<div class="size-s"><a href="#">S</a></div>
											<div class="size-s"><a href="#">L</a></div>
										</div>
									</div>
								</div>
								<!-- 购买、加入购物车、收藏-->
								<div class="Buy-Collection">
								    <!--立即购买-->
									<input class="Buy" type="button" value="立即购买" />
									<!--加入购物-->
									<input class="Join" type="button" value="加入购物车" />
									<!--收藏-->
									<input class="Collection" type="button" value="收藏" />
								</div>
							</div>
							<!--同类商品-->
							<div class="Similar">
							    <div class="qihangdian-k">
								    <ul>
									    <li class="qihangdian-k-li-one">ESTILOS 商家</li>
										<li class="qihangdian-k-li-two">正品保障，售后无忧</li>
										<li class="qihangdian-k-li-three">商家：<a href="#">ESTILOS旗舰店</a></li>
										<li>商家满意度<span>与同行业相比</span></li>
										<li>商家评分：4.74分<span><img src="__PUBLIC__/home/images/huangjiantou.jpg"/>36.92%</span></li>
										<li>服务态度：4.87分<span><img src="__PUBLIC__/home/images/huangjiantou.jpg"/>36.92%</span></li>
										<li>物流速度：4.91分<span><img src="__PUBLIC__/home/images/huangjiantou.jpg"/>36.92%</span></li>
									</ul>
								</div>
								<div class="Company-phone">
								    <ul class="Company-phone-ul-one">
									    <li>公司：</li>
										<li class="Company-phone-ul-one-li-two">TEL：</li>
									</ul>
									<ul class="Company-phone-ul-two">
									    <li>长沙ESTILOS电商集团</li>
										<li class="Company-phone-ul-two-li-two">有限公司</li>
										<li>400-8862</li>
									</ul>
								</div>
								<!--进入店铺-->
								<div class="in-shop">
								    <!--进入店铺-->
									<input class="in" type="button" value="进入店铺" />
									<!--收藏店铺-->
									<input class="collection-shop" type="button" value="收藏店铺" />
								
								</div>
								<!--同类推荐-->
								<div class="Similar-recommendation">
								    <ul>
									    <li class="Similar-recommendation-lione">同类推荐</li>
										<li class="Similar-recommendation-litwo"><a href="#">换一组</a></li>
									</ul>
								</div>
								<!--同类推荐产品信息-->
								<div class="Similar-goods">
								    <div class="Similar-goods-img"><a href="#"><img src="__PUBLIC__/home/images/Similar-goods-img.jpg"/></a></div>
									<div class="Similar-goods-xx">
										<ul>
									        <li><a href="#">针织连衣裙 2015秋季新款女装韩版OL通勤</a><li>
										    <li class="Similar-goods-xx-last">￥188.0<li>
									    </ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--产品详情-->
			<div class="Product-details">
				<!-- 产品详细左边-->
				<div class="Product-details-left">
				    <div class="like-it-friend"><p>喜欢它的朋友还喜欢</p></div>
					<div class="like-it-friend-Product">
					    <div class="like-it-friend-product">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
					        <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
						<div class="like-it-friend-product">
						    <ul>
							    <li><a href="#"><img src="__PUBLIC__/home/images/like1.jpg"/></a></li>
								<li class="like-it-li">ESTILOS 2015秋装韩版时尚新品青年连帽显瘦纯棉团中长款卫衣DL5007 藏蓝色 M<span>￥148.00</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 产品详细右边边-->
				<div class="Product-details-right">
				    <!--产品介绍信息的盒子-->
					<div class="Commodity-Introduction">
					    <div class="Commodity-Introduction-title">
						    <div class="Commodity-Introduction-small"><a href="#"><p>商品详情</p></a></div>
							<div class="Commodity-Introduction-title-Other">
							    <div class="title-Other">
								    <ul>
									    <li><a href="#" class="title-Other-li-a">累计评价</a></li>
										<li><img src="__PUBLIC__/home/images/blue-d.jpg"/><a href="#" class="title-Other-li-a">月成交记录</a></li>
										<li><img src="__PUBLIC__/home/images/blue-d.jpg"/><a href="#" class="title-Other-li-a">售后服务</a></li>
										<li><img src="__PUBLIC__/home/images/blue-d.jpg"/><a href="#" class="title-Other-li-a">客户端首单  满100送50</a></li>
									</ul>
								</div>
								<!--加入购物车2-->
								<div class="Join-in-shopping"><a href="#"><p>加入购物车</p></a></div>
							</div>
						</div>
						<!--参数-->
						<div class="Product-parameters">
						    <ul>
							    <li>商品名称：ESTILOS2015秋冬装新</li>
								<li>商品毛重：1.1KG</li>
								<li>厚度：适中 </li>
								<li>使用年龄：20-28周岁</li>
								<li>适用类型：职场 </li>
								<li>成分分量：81%（含）-90%</li>
								<li>衣长：中长款</li>
							</ul>
							<ul>
							    <li>商品编号：124456566</li>
								<li>商品产地：中国大陆</li>
								<li>领型：翻领 </li>
								<li>图案：纯色</li>
								<li>尺码：XL </li>
								<li>面料：粗话呢</li>
								<li>里料图案：纯色</li>
							</ul>
							<ul>
							    <li>店铺： ESTILOS旗舰店</li>
								<li>货号：2012</li>
								<li>颜色：多色/渐变色 </li>
								<li>里料材质：涤纶</li>
								<li>版型：直筒型 </li>
								<li>袖长：长袖</li>
								<li>上市时间：2015年秋季</li>
							</ul>
							<ul>
							    <li>上架时间：2015-09-26 11：06：08 </li>
								<li>风格：日韩</li>
								<li>材质：毛呢大衣料 </li>
								<li>服装版型：修身</li>
								<li>流行元素：其他</li>
								<li>衣门襟：单排扣</li>
							</ul>
						</div>
					</div>
					<!--产品图片-->
					<div class="Product-details-big-img"><img src="__PUBLIC__/home/images/Product-details-big-img.jpg"/></div>
					<!--累计评论-->
					<div class="Cumulative-product-theory">
					    <!-- 累计评论标题-->
						<div class="Cumulative-product-theory-title"><p>累计品论</p></div>
						<!-- 用户描述盒子-->
						<div class="Description-box">
						    <!--描述相符-->
							<div class="Match">
							    <ul>
								    <li><p>与描述相符</p></li>
									<li><img src="__PUBLIC__/home/images/Match-img.jpg"/></li>
								</ul>
							</div>
							<!--大家描述-->
							<div class="We-describe">
								<p>大<br/>家<br/>都<br/>写<br/>到<br/>的</p>
								<ul>
								    <li>质量很好（50）</li>
									<li>质量很好（50）</li>
									<li>质量很好（50）</li>
								</ul>
							</div>
						</div>
						<!--全部评价-->
							<div class="All-evaluation">
							    <div class="All-e"><a href="#"><p>全部评价（320）</p></a></div>
								<div class="other-evaluation">
								    <ul>
									    <li><a href="#">好评（311）</a></li>
										<li><a href="#">中评（8）</a></li>
										<li><a href="#">差评（1）</a></li>
									</ul>
								</div>
							</div>
					</div>
					<!--评价心得-->
					<div class="Evaluation-experience">
					    <div class="experience-one">
						    <div class="Evaluation-experience-title">
							    <ul>
								    <li class="experience-lione">评价心得</li>
									<li class="experience-litwo">顾客满意度</li>
									<li class="experience-lithree">购买信息</li>
									<li class="experience-lifour">评论者</li>
								</ul>
							</div>
							<div class="Detailed-evaluation-one">
								<!--评论心得-->
								<div class="Detailed-evaluations">
								    <ul>
									    <li class="Delione">面料和颜色没什么变化旧衣服有点偏小  2015-10-15  12：34</li>
										<li class="Delitwo"><a href="#">回复<span>（0）</span></a></li>
										<li class="Delithree"><a href="#">赞（0）</a></li>
									</ul>
								</div>
								<!--顾客满意度-->
								<div class="Customer-satisfaction"><img <img src="__PUBLIC__/home/images/Customer-satisfaction.jpg"/></div>
								<!--购买信息-->
								<div class="Purchase-informations">
								    <ul>
									    <li>颜色：格子黄色</li>
										<li>型号：160（建议160左右穿）</li>
									</ul>
								</div>
								<!--评论者-->
								<div class="The-reviewers"><p><img src="__PUBLIC__/home/images/The-reviewers.jpg"/>tsfk</p></div>
							</div>
							<div class="Reply-k">
								<div><input  class="Replys"   type="text"/></div>
							</div>
						</div>
						<!--第二个评论-->
						<div class="experience-two">
						    <div class="Detailed-evaluation-one">
								<!--评论心得-->
								<div class="Detailed-evaluations">
								    <ul>
									    <li class="Delione">衣服很不错，没色差，不掉色，跟图片一样！  2015-10-25  12:00</li>
										<li class="Delitwo"><a href="#">回复<span>（0）</span></a></li>
										<li class="Delithree"><a href="#">赞（0）</a></li>
									</ul>
								</div>
								<!--顾客满意度-->
								<div class="Customer-satisfaction"><img <img src="__PUBLIC__/home/images/Customer-satisfaction.jpg"/></div>
								<!--购买信息-->
								<div class="Purchase-informations">
								    <ul>
									    <li>颜色：格子黄色</li>
										<li>型号：160（建议160左右穿）</li>
									</ul>
								</div>
								<!--评论者-->
								<div class="The-reviewers"><p><img src="__PUBLIC__/home/images/The-reviewers.jpg"/>uffer</p></div>
							</div>
						</div>
						<!--灰色小分页-->
						<div class="gray-Paging">
						    <ul>
							    <li class="Paging-ul-lione"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>……</li>
								<li><a href="#">12</a></li>
								<li><input class="Next-page-t" type="button" value="下一页"/></li>
							</ul>
						</div>
					</div>
					<!--成交记录-->
					<div class="Transaction-records">
					    <!--成交记录紫色标题-->
						<div class="Transaction-records-title"><p>月成交记录287件</p></div>
						<!--详细成交记录-->
						<div class="transaction-records">
						    <div class="Buyer-information">
							    <ul>
								    <li class="BIlione">买家<a href="#">[登录后可见]</a></li>
									<li class="BIlitwo">款式/型号</li>
									<li class="BIlithree">数量</li>
									<li class="BIlifour">成交时间</li>
								</ul>
							</div>
							<div class="buyer">
							    <!--用户信息-->
								<div class="buyer-information"><p><img src="__PUBLIC__/home/images/The-reviewers.jpg"/>t***8<img src="__PUBLIC__/home/images/yellowz.jpg"/></p></div>
								<!--款式尺码颜色-->
								<div class="Model">
								    <ul>
									    <li>颜色分类：075深红</li>
										<li>尺码:160/80A/S</li>
									</ul>
								</div>
								<!--数量-->
								<div class="numbers"><p>1</p></div>
								<!--成交时间-->
								<div class="Closing-time">
								    <ul>
									    <li>2015-10-25</li>
										<li>14:15</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--猜你喜欢-->
			<div class="Guess-you-like">
			    <div class="Guess-you-like-title">
				    <div class="red-T"></div>
					<div class="title-like"><p>猜你喜欢</p></div>
					<div class="Guess-you-like-goods">
					    <div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
						<div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
						<div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
						<div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
						<div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
						<div class="guess-goods">
						    <ul>
							    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/guess-goods.jpg"/></a></li>
								<li><a href="#">ESTILOS 韩版2015秋装韩版年连帽纯棉团中长款</a></li>
								<li>￥208.00</li>
							<ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部-->
	<include file="public/foot" />
 </body>
</html>