
   <!-- 加载头页面 -->
	<include file="public/top" />
	<!-- 身体-->
	<div class="container">
	    <div class="container-center">
			    <div class="container-top-left">
				    <div class="fenlei">
					    <!--筛选以及返回首页-->
						<div class="saixuan">
						    <div class="fanhui"><p><a href="shouye.html">首页</a> > <a href="#">所有分类</a></P></div>
							<!--筛选条件-->
							<div class="screening"><a href="#"><img src="__PUBLIC__/home/images/screening.jpg"/></a></div>
							<div class="screening-z"><a href="#"><p>筛选条件</p></a></div>
						</div>
						<!--品牌、风格等筛选条件-->
						<div class="screenings-K">
						    <!--品牌-->	
							<div class="brand">
								<div class="brand-title">
								    <p>品牌：</p>
								</div>
								<!--品牌详细-->
								<div class="brand-detailed">
								    <ul class="brand-detailed-First-line">
									    <li><a href="#">哥弟</a></li>
										<li><a href="#">欧洲站</a></li>
										<li><a href="#">欧时力</a></li>
										<li><a href="#">ZARA</a></li> 
										<li><a href="#">00后</a></li>
										<li><a href="#">HSTYLE/韩都衣舍</a></li>
										<li><a href="#">茵曼</a></li>
										<li><a href="#">PEACEBIRD/太平鸟</a></li>
									
									</ul>
									<ul class="brand-detailed-Second-line">
									    <li><a href="#">优衣库</a></li>
										<li><a href="#">秋水伊人</a></li>
										<li><a href="#">La Chapelle/拉夏贝尔</a></li>
										<li><a href="#">彩黛妃</a></li>
										<li><a href="#">云依雪</a></li>
										<li><a href="#">芯园阁</a></li>
										<li><a href="#">朵以</a></li>
									</ul>
								</div>
								<!--品牌多选-->
								<div class="brand-choice">
								    <!--多选按钮-->
									<input class="Select-key" type="button" value="多选" />
								</div>
							</div>
							<!--风格-->
							<div class="style">
							    <div class="style-title">
								    <p>风格：</p>
								</div>
								<!--品牌详细-->
								<div class="style-detailed">
								    <ul>
									
									    <li><a href="#">休闲</a></li>
										<li><a href="#">韩系</a></li>
										<li><a href="#">性感</a></li>
										<li><a href="#">欧美</a></li>
										<li><a href="#">甜美</a></li>
										<li><a href="#">OL</a></li>
										<li><a href="#">复古</a></li>
										<li><a href="#">优雅</a></li>
										<li><a href="#">学院</a></li>
										<li><a href="#">文艺</a></li>
										<li><a href="#">民族</a></li>
									
									</ul>
								</div>
								<!--风格多选-->
								<div class="style-choice">
								    <!--多选按钮-->
									<input class="Select-key-style" type="button" value="多选" />
									<!--更多-->
									<div class="more"><a href="#"><p>更多</p></a></div>
								</div>
							</div>
							<!--款式、细节-->
							<div class="Details">
							    <div class="Details-title">
								    <p>服装款式细节：</p>
								</div>
								<!--品牌详细-->
								<div class="Details-detailed">
								    <ul>
									    <li><a href="#">拼接</a></li>
										<li><a href="#">拉链</a></li>
										<li><a href="#">印花</a></li>
										<li><a href="#">蝴蝶结</a></li>
										<li><a href="#">蕾丝</a></li>
										<li><a href="#">口袋</a></li>
										<li><a href="#">纽扣</a></li>
										<li><a href="#">褶皱</a></li>
										<li><a href="#">系带</a></li>
										<li><a href="#">抽褶</a></li>
									</ul>
								</div>
								<!--风格多选-->
								<div class="Details-choice">
								    <!--多选按钮-->
									<input class="Select-key-Details" type="button" value="多选" />
									<!--更多-->
									<div class="more-Details"><a href="#"><p>更多</p></a></div>
								</div>
							</div>
							<!--女装-->
							<div class="Ladies">
							    <div class="Ladies-title">
								    <p>女装：</p>
								</div>
								<!--女装详细-->
								<div class="Ladies-detailed">
								    <ul>
									    <li><a href="#">连衣裙</a></li>
										<li><a href="#">大码女装</a></li>
										<li><a href="#">T恤</a></li>
										<li><a href="#">针织衫</a></li>
										<li><a href="#">短外套</a></li>
										<li><a href="#">衬衫</a></li>
										<li><a href="#">卫衣/绒衫</a></li>
										<li><a href="#">蕾丝衫/雪纺衫</a></li>
									</ul>
								</div>
								<!--女装多选-->
								<div class="Ladies-choice">
								    <!--多选按钮-->
									<input class="Select-key-Ladies" type="button" value="多选" />
									<!--更多-->
									<div class="more-Ladies"><a href="#"><p>更多</p></a></div>
								</div>
							</div>
							<!--筛选条件-->
							<div class="Screening-conditions">
							    <div class="Screening-conditions-title">
								    <p>筛选条件：</p>
								</div>
								<div class="Screening-conditions-detailed">
								    <ul>
									    <li><a href="#"><p>选购热点<img src="__PUBLIC__/home/images/xiajiantou.jpg"/></p></a></li>
										<li><a href="#"><p>裙长<img src="__PUBLIC__/home/images/xiajiantou.jpg"/></p></a></li>
										<li><a href="#"><p>裤长<img src="__PUBLIC__/home/images/xiajiantou.jpg"/></p></a></li>
										<li><a href="#"><p>腰型<img src="__PUBLIC__/home/images/xiajiantou.jpg"/></p></a></li>
										<li><a href="#"><p>相关分类<img src="__PUBLIC__/home/images/xiajiantou.jpg"/></p></a></li>
									</ul>
								</div>
							</div>
							<!--更多选项 -->
							<div class="More-options">
							    <div class="More-options-K">
								    <a href="#"><p class="More-options-z">更多选项(尺码，颜色等)<img src="__PUBLIC__/home/images/grayxiajiantou.jpg"/></p></a>
								</div>
							</div>
						</div>
						<!--排序分页-->
						<div class="Sort-Paging">
						    <!--排序-->
							<div class="Sort">
							    <p class="Sort-z">排序：</p>
								<!--排序中的按钮-->
								<input  class="Comprehensive-sorting" type="button" value="综合排序"/>
								<input  class="two-fonts" type="button" value="销量"/>
								<input  class="two-fonts" type="button" value="价格"/>
								<input  class="three-fonts" type="button" value="评论数"/>
								<input  class="two-fonts" type="button" value="新品"/>
								<p class="Promotion"><input class="Promotional-options" type="checkbox"/>促销商品</p>
							</div>
							<!--分页-->
							<div class="Paging">
							    <!--页数-->
								<p class="Page-number"><span>1</span>/100</p>
								<!--上一页-->
								<div class="Previous-page"><a href="#"><p>上一页</p></a></div>
								<!--下一页-->
								<div class="Next-page"><a href="#"><p>下一页</p></a></div>
							</div>
						</div>
						<!--配送搜索-->
						<div class="Distribution-Search">
						    <div class="DistributionK">
							    <!--配送下拉框-->
							    <p class="Distribution">配送至：</p>
							    <select class="Distribution-Choice">
							    <option>南昌</option>
							    <option selected="selected">长沙</option>
							    </select>
							    <!--有货、货到付款多选-->
							    <p class="Library"><input class="Library-K" type="checkbox"/>仅显示有货</p>
							    <p class="Library"><input class="Library-K" type="checkbox"/>货到付款</p>
							</div>
							<!--小搜索-->
							<div class="small-Search">
							    <!-- 小搜索框-->
							    <input id="txt"  class="small-Search-K" type="text" />
								<!-- 小搜索按钮-->
							    <input class="small-Search-anniu" type="submit" value="确认" />
							</div>
							<!--店铺商品-->
							<div class="shop-Commodity">
							    <div class="shop"><a href="#"><p>店铺</p></a></div>
								<div class="Commodity"><a href="#"><p>商品</p></a></div>
							</div>
						</div>
					</div>
					<!--产品-->
					<div class="product">
						<ul>
							<foreach name="listinfo" item="vo">
								<li class="oneli">
									<ul>
										<a href="{:U('Products/info')}"><img src="__PUBLIC__/home/images/line-one.jpg"/></a>
										<p><span>{$vo.title}</span>{$vo.content} {$vo.size}</p>
										<em class="fourli">{$vo.price}</em>
										<h1>长沙有货<a href="#">199条评论</a></h1>
									</ul>
								</li>
							</foreach>
							<!-- <li class="oneli">
								<ul>
									<a href="ProductDetails.html"><img src="__PUBLIC__/home/images/line-one.jpg"/></a>
									<p>雅旦﹒戈乐加长款 OL气质白领丽人冬装女装<span>羊毛呢大衣</span> 加大</p>
									<em class="fourli">¥318.00</em>
									<h1>长沙有货<a href="#">199条评论</a></h1>
								</ul>
							</li> -->
						</ul>
					</div>
				</div>
				<div class="container-top-right">
				    <!--新品热卖-->
					<div class="New-hot "><p>新品热卖</p></div>
					<!--热卖产品-->
					<div class="hot-product">
						<!--热卖产品盒子定位-->
						<div class="hot-product-H">
						    <!--热卖产品1-->
							<div class="hot-product-one">
							    <ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-one.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
							<!--热卖产品2-->
							<div class="hot-product-two">
								<ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-two.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
							<!--热卖产品3-->
							<div class="hot-product-three">
								<ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-three.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
							<!--热卖产品4-->
							<div class="hot-product-four">
							    <ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-one.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
							<!--热卖产品5-->
							<div class="hot-product-five">
							    <ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-two.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
							<!--热卖产品6-->
							<div class="hot-product-six">
								<ul>
								    <li><a href="ProductDetails.html"><img src="__PUBLIC__/home/images/hot-product-three.jpg"/></a></li>
									<li class="li-two">特价：<span>¥148.00</span></li>
									<li class="li-three"><a href="#">诗紊 2015秋冬韩版修身时</a></li>
									<li class="li-four"><a href="#">尚毛呢连衣裙中长款</a></li>
									<li class="li-five"><a href="#">已有<span>0</span>人评价</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			
			<!--身体下半部分-->
			<div class="container-bottom">
			    <!-- 大分页盒子-->
				<div class="Big-Paging-H">
				    <ul>
					    <li class="Big-Paging-left"><a href="#"><p>上一页</p></a></li>
						<li class="s1"><a href="#"><p>1</p></a></li>
						<li class="s2"><a href="#"><p>2</p></a></li>
						<li class="s2"><a href="#"><p>3</p></a></li>
						<li class="s2"><a href="#"><p>4</p></a></li>
						<li class="s3">……</li>
						<li class="Big-Paging-right"><a href="#"><p>下一页</p></a></li>
					</ul>
					<h1>共100页  到第</h1>
					<input class="Paging-input" type="text" />
					<h2> 页</h2>
					<input class="Paging-Confirm" type="submit" value="确认" />
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<!-- 底部-->
	<include file="public/foot" />
	
 </body>
</html>